/* Font Import */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,800,700,600);
$color-blue: #0aa0e1;
::-webkit-input-placeholder {
    /* WebKit browsers */
    
    ;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #373737;
    font-weight: 300;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    
    font-family: 'Source Sans Pro', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    
    font-family: 'Source Sans Pro', sans-serif;
}
/* ---- reset ---- */

body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
    background: #fff;
}

* {
    box-sizing: border-box;
}

canvas {
    display: block;
    vertical-align: bottom;
}
/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    background-color: #b61924;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
    display: none;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}
/* Reset */

html {
    font-size: 100%;
}

body {
    color: #a3acad;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0px !important;
    margin: 0px !important;
    line-height: 1.5;
    font-style: normal;
    font-weight: 300;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
    height: 100%;
}

.main-wrapper {
    opacity: 1;
}
/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 38px;
    line-height: 46px
}

h2 {
    line-height: 42px
}

h3 {
    line-height: 34px
}

h4 {
    line-height: 28px;
    font-size: 16px;
}

h3 small,
h4 small,
h5 small {
    font-family: 'Open Sans';
    font-weight: 300;
    color: #444;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
    color: #505458;
    font-size: 62%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans';
    font-weight: 300;
}

h1.block,
h2.block,
h3.block,
h4.block,
h5.block,
h6.block {
    padding-bottom: 10px;
}

a {
    text-shadow: none !important;
    color: #393939;
    transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.1s linear 0s!important;
}

a,
a:focus,
a:hover,
a:active {
    outline: 0;
    text-decoration: none;
}

label.inline {
    display: inline-block;
    position: relative;
    top: 0px;
    font-size: 13px;
}

ul > li {
    padding-left: 0;
    line-height: 20px;
}

address {
    margin-bottom: 0px;
}

blockquote {
    padding: 0 0 0 18px;
    border-left: 5px solid #EEEEEE;
}

blockquote p {
    font-size: 16px
}

blockquote small:before {
    content: "";
}

blockquote.pull-right small:after {
    content: "";
}

blockquote small {
    line-height: 29px;
    color: #8b91a0;
}

.normal {
    font-weight: normal;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: bold;
}

.all-caps {
    text-transform: uppercase;
}

.light {
    font-weight: 300 !important;
}

.small-text {
    font-size: 12px !important;
}

.normal-text {
    font-size: 13px !important;
}

.large-text {
    font-size: 15px !important;
}

.center-text {
    text-align: center !important;
}

.muted {
    color: #b6bfc5;
}
/* Background Colors */

.bg-blue {
    background-color: #00acec !important;
}

.bg-red {
    background-color: #f35958 !important;
}

.bg-yellow {
    background-color: #00acec !important;
}

.bg-green {
    background-color: #0aa699 !important;
}

.bg-purple {
    color: #852b99 !important;
}

.bg-grey {
    color: #555555 !important;
}
/* Font Colors */

.text-black {
    color: #1b1e24 !important;
}

.text-white {
    color: #fff !important;
}

.text-success {
    color: #0AA699 !important;
}

.text-info {
    color: #0090D9 !important;
}

.text-warning {
    color: #fbb05e !important;
}

.text-error {
    color: #F35958 !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}
/* Color bands showcase used for demo */

.color-bands.green {
    background-color: #0aa699
}

.color-bands.purple {
    background-color: #a272b2
}

.color-bands.red {
    background-color: #f35958
}

.color-bands.blue {
    background-color: #14b9d6
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #E0DFDF;
    border-bottom: 1px solid #FEFEFE;
}
/*** Fixes & Misc ***/

.middle > * {
    vertical-align: middle;
}

.hide {
    display: none !important;
}

.appear {
    visibility: hidden;
}

.v-align-bottom {
    vertical-align: bottom;
}

.v-align-top {
    vertical-align: top;
}

.v-align-middle {
    vertical-align: middle;
}

.inline {
    display: inline-block;
}

img.resize {
    max-width: 100%;
    height: auto
}

.push-bottom {
    position: absolute;
    bottom: 0;
}

.push-top {
    position: absolute;
    top: 0;
}

.clearfix {
    clear: both;
}

p {
    margin: 0 0 10px;
    line-height: 21px;
}

header {
    width: 100%;
    background-size: cover;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(2, 4, 5, 0.5);
    opacity: 0;
    position: fixed;
    h1 {
        font-size: 80px;
        font-weight: 800;
        text-transform: uppercase;
        margin: 60px auto 27px;
        line-height: 1;
    }
    h3 {
        font-size: 24px;
        font-weight: 400;
        line-height: 37px;
    }
    &.fixed {
        opacity: 1;
        top: 0;
        height: 90px;
        background: #fff;
        z-index: 1000;
        ul.nav li {
            display: inline-block;
            padding: 0px 20px;
            a {
                font-size: 25px;
                cursor: pointer;
            }
        }
    }
}

.container {
    max-width: 1440px;
    margin: auto;
}

.page-content {
    text-align: center;
    background: #fff;
    h2 {
        font-size: 45px;
        color: #37474f;
        margin-bottom: 100px;
    }
    section {
        margin-top: 120px;
        .description {
            font-size: 20px;
            margin: 35px auto 75px;
            line-height: 35px;
            width: 75%;
        }
    }
    .col-3 {
        width: 33.333%;
        float: left;
        padding: 0px 10px;
        box-sizing: border-box;
        .feature-description {
            font-size: 19px;
            h2 {
                font-size: 25px;
                margin-bottom: 10px;
            }
        }
        .feature-icon {
            margin-bottom: 25px;
        }
    }
    .col-5 {
        width: 20%;
        min-width: 140px;
        float: left;
        padding: 0px 10px;
        box-sizing: border-box;
        margin-bottom: 50px;
        .feature-description {
            font-size: 19px;
            text-transform: uppercase;
            margin: 25px 0px;
            color: #5f6a70;
            font-weight: 700;
        }
        .feature-icon {
            width: 120px;
            height: 120px;
            background: #e5e3e6;
            margin: auto;
        }
    }
}

footer {
    //    height: 400px;
    margin-top: 60px;
    text-align: center;
    h2 {
        color: #fff;
        font-size: 45px;
        font-weight: 300;
        padding: 100px 0px;
        line-height: 60px;
    }
    .infobox {
        background: #ff491b;
        padding: 50px 0px;
        margin-top: 40px;
        span {
            width: 50%;
            color: #fff;
            font-size: 50px;
            font-weight: 600;
        }
    }
}

ul {
    list-style: none;
    padding: 0;
}

.cd-pricing {
    width: 90%;
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
}

.cd-pricing > li {
    position: relative;
    margin: 0 auto 2.5em;
    background-color: #ffffff;
    border-radius: .3em .3em .25em .25em;
    box-shadow: 0 2px 8px rgba(2, 4, 5, 0.5);
}

.cd-pricing > li.empty-box {
    box-shadow: none;
}

.cd-pricing > li.empty-box::after {
    /* placeholder visible when .cd-form is open - in this case same color of the background */
    
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0f222b;
}

@media only screen and (min-width: 768px) {
    .cd-pricing {
        max-width: 1280px;
    }
    .cd-pricing > li {
        width: 32%;
        float: left;
        margin-right: 2%;
        margin-bottom: 0;
    }
    .cd-pricing > li:last-of-type {
        margin-right: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-pricing > li {
        width: 32.0%;
        float: left;
        margin-right: 2%;
    }
}

.cd-pricing-header {
    padding: 1.3em 1em;
    background: #37474f;
    border-radius: .25em .25em 0 0;
    box-shadow: inset 0 1px 0 #c1cfa2;
    color: #ffffff;
    height: 115px;
    opacity: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    h2 {
        color: #c6463d;
    }
}

.cd-pricing-header h2,
.cd-pricing-header .cd-price {
    line-height: 1.2;
    font-size: 20px;
}

.cd-pricing-header h2 {
    font-size: 2rem;
    margin-bottom: 0.15em;
    text-transform: uppercase;
    margin: 0;
}

.cd-pricing-header .cd-price {
    display: inline-block;
    font-weight: bold;
}

.cd-pricing-header .cd-price::after {
    clear: both;
    content: "";
    display: table;
}

.cd-pricing-header span {
    float: left;
}

.cd-pricing-header span:nth-of-type(2) {
    color: #c6463d;
}

.cd-pricing-header span:nth-of-type(2)::before {
    content: '/';
}

@media only screen and (min-width: 768px) {
    .cd-pricing-header h2 {
        font-size: 2.6rem;
    }
}

.cd-pricing-features {
    padding: 2.8em 0 2.5em;
}

.cd-pricing-features li {
    line-height: 1.5;
    //  margin-bottom: .4em;
    padding: 0.4em 1em;
    font-size: 20px;
}

.cd-pricing-features li:nth-child(odd) {
    background: #e9e9e9;
}

.cd-pricing-features li:last-of-type {
    margin-bottom: 0;
}

.cd-pricing-features em {
    position: relative;
}

.cd-pricing-features .available em::before {
    background-position: 0 0;
}

.cd-pricing-footer {
    padding: 1em;
    margin-top: 0;
    background: #fff;
    border-top: 1px solid #e9e9e9;
}

.cd-pricing-footer a {
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.empty-box .cd-pricing-footer a {
    /* scale down to 0 the action button when sign up form is visible */
    
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
/* -------------------------------- 

Form 

-------------------------------- */

.cd-form {
    position: fixed;
    z-index: 3;
    background-color: #ffffff;
    border-radius: .25em;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.8s;
    -moz-transition: visibility 0s 0.8s;
    transition: visibility 0s 0.8s;
    /* Force Hardware Acceleration in WebKit */
    
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cd-form::before {
    /* never visible - this is used in jQuery to check the current MQ */
    
    display: none;
    content: 'mobile';
}

.cd-form::after {
    /* gradient visible at the bottom of the form - to indicate it's possible to scroll */
    
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 100%;
    border-radius: 0 0 .25em .25em;
    background-color: rgba(255, 255, 255, 0);
    background-image: -webkit-linear-gradient(bottom, white, rgba(255, 255, 255, 0));
    background-image: linear-gradient(to top, white, rgba(255, 255, 255, 0));
    pointer-events: none;
}

.cd-form .cd-plan-info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: center;
}

.cd-form .cd-plan-info > * {
    width: 100%;
}

.cd-form .cd-pricing-features {
    position: relative;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-form .cd-pricing-features::before {
    /* this is the layer which covers the .cd-pricing-features when the form is open - visible only on desktop */
    
    content: '';
    position: absolute;
    /* fix a bug while animating - 1px white space visible */
    
    top: -5px;
    left: 0;
    height: calc(100% + 5px);
    width: 100%;
    background-color: #95ac5f;
    will-change: transform;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top;
    -webkit-transition: -webkit-transform 0.6s 0.2s;
    -moz-transition: -moz-transform 0.6s 0.2s;
    transition: transform 0.6s 0.2s;
}

.cd-form .cd-pricing-footer {
    display: none;
}

.cd-form .cd-more-info {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 210px;
    bottom: 0;
    left: 0;
    padding: 285px 1.8em 2em;
    background-color: #f2f2f2;
    border-radius: .25em 0 0 .25em;
    /* hidden on mobile */
    
    display: none;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.cd-form .cd-more-info h3 {
    line-height: 2;
}

.cd-form .cd-more-info p {
    font-size: 1.3rem;
    color: #999999;
    line-height: 1.6;
}

.cd-form form {
    padding-top: 90px;
    height: 100%;
    overflow: hidden;
}

.cd-form form.is-scrollable {
    overflow-y: auto;
}

.cd-form fieldset {
    opacity: 0;
    margin: 1.5em 2em;
    /* Force Hardware Acceleration in WebKit */
    
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    -moz-transition: opacity 0.2s, -moz-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
}

.cd-form fieldset > div,
.cd-form fieldset .cd-credit-card > div {
    padding-top: 1.2em;
}

.cd-form fieldset > .cd-credit-card {
    padding-top: 0;
}

.cd-form fieldset div::after {
    clear: both;
    content: "";
    display: table;
}

.cd-form fieldset:last-of-type > div {
    padding-top: 0;
}

.cd-form legend {
    width: 100%;
    font-size: 2.3rem;
    line-height: 1.2;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #e5e5e5;
}

.cd-form input[type="radio"],
.cd-form label {
    cursor: pointer;
}

.cd-form label {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #b2b2b2;
}

.cd-form input[type="radio"] + label {
    color: #0f222b;
}

.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form input[type="password"],
.cd-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 45px;
    border: 2px solid #e5e5e5;
    border-radius: 0;
    background: transparent;
}

.cd-form input[type="text"]:focus,
.cd-form input[type="email"]:focus,
.cd-form input[type="password"]:focus,
.cd-form select:focus {
    outline: none;
    border-color: #95ac5f;
}

.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form input[type="password"] {
    width: 100%;
    display: block;
    margin-top: 6px;
    padding: 0 16px;
}

.cd-form select {
    padding: 0 25px 0 15px;
    font-size: 1.4rem;
}

.cd-form select::-ms-expand {
    /* remove default arrows in IE */
    
    display: none;
}

.cd-form .cd-credit-card b {
    display: block;
}

.cd-form .cd-credit-card p {
    padding-bottom: 0.5em;
}

.cd-form .cd-credit-card p:last-of-type {
    width: 100px;
}

.cd-form .cd-select {
    display: inline-block;
    position: relative;
    margin-top: 6px;
}

.cd-form .cd-select::after {
    /* arrow icons */
    
    content: '';
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    height: 6px;
    width: 10px;
    background: url(../img/cd-icon-arrow.svg) no-repeat center center;
    pointer-events: none;
}

.cd-form .cd-close {
    /* 'X' close icon */
    
    position: absolute;
    z-index: 3;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    background: url(../img/cd-icon-close.svg) no-repeat center center;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    /* image replacement */
    
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
}

.cd-form.is-visible {
    /* form is visible */
    
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
}

.cd-form.is-visible .cd-pricing-features {
    /* desktop only */
    
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.6s 0s, visibility 0s 0.8s;
    -moz-transition: opacity 0.6s 0s, visibility 0s 0.8s;
    transition: opacity 0.6s 0s, visibility 0s 0.8s;
}

.cd-form.is-visible form {
    -webkit-overflow-scrolling: touch;
}

.cd-form.is-visible fieldset {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.3s 0.6s, opacity 0.3s 0.6s;
    -moz-transition: -moz-transform 0.3s 0.6s, opacity 0.3s 0.6s;
    transition: transform 0.3s 0.6s, opacity 0.3s 0.6s;
}

.cd-form.is-visible fieldset:nth-of-type(2) {
    /* delay second fieldset animation */
    
    -webkit-transition: -webkit-transform 0.3s 0.7s, opacity 0.3s 0.7s;
    -moz-transition: -moz-transform 0.3s 0.7s, opacity 0.3s 0.7s;
    transition: transform 0.3s 0.7s, opacity 0.3s 0.7s;
}

.cd-form.is-visible fieldset:nth-of-type(3) {
    /* delay second fieldset animation */
    
    -webkit-transition: -webkit-transform 0.3s 0.8s, opacity 0.3s 0.8s;
    -moz-transition: -moz-transform 0.3s 0.8s, opacity 0.3s 0.8s;
    transition: transform 0.3s 0.8s, opacity 0.3s 0.8s;
}

.cd-form.is-visible .cd-close {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s 0.8s;
    -moz-transition: -moz-transform 0.3s 0.8s;
    transition: transform 0.3s 0.8s;
}

@media only screen and (min-width: 768px) {
    .cd-form::before {
        /* never visible - this is used in jQuery to check the current MQ */
        
        content: 'desktop';
    }
    .cd-form .cd-pricing-header {
        border-radius: .25em 0 0 0;
    }
    .cd-form .cd-pricing-features {
        -webkit-transition: padding 0.3s 0.2s;
        -moz-transition: padding 0.3s 0.2s;
        transition: padding 0.3s 0.2s;
    }
    .cd-form .cd-more-info {
        display: block;
        opacity: 0;
    }
    .cd-form form {
        padding: 0 0 0 210px;
    }
    .cd-form .half-width {
        width: 48%;
        float: left;
        margin-right: 4%;
    }
    .cd-form .half-width:nth-of-type(2n) {
        margin-right: 0;
    }
    .cd-form input[type="submit"] {
        float: right;
    }
    .cd-form .cd-close {
        /* move close icon outside the form container */
        
        top: -40px;
        right: -5px;
    }
    .cd-form.is-visible .cd-pricing-features {
        padding-top: 0;
        opacity: 1;
        visibility: visible;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }
    .cd-form.is-visible .cd-pricing-features::before {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transition: -webkit-transform 0.4s 0s;
        -moz-transition: -moz-transform 0.4s 0s;
        transition: transform 0.4s 0s;
    }
    .cd-form.is-visible .cd-more-info {
        opacity: 1;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-form .cd-credit-card p:nth-of-type(2) {
        width: 25%;
        margin-right: 4%;
    }
    .no-csstransitions .cd-form .cd-credit-card p:nth-of-type(2) {
        width: 48%;
        margin-right: 0;
    }
    .cd-form .cd-credit-card p:nth-of-type(3) {
        width: 19%;
        margin-right: 0;
    }
}
/* -------------------------------- 

Buttons 

-------------------------------- */

.cd-pricing-footer a,
.cd-form input[type="submit"] {
    display: inline-block;
    padding: 0.5em 1.8em;
    border-radius: 50em;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}

.cd-pricing-footer a {
    border: 2px solid #c6463d;
    color: #c6463d;
    &:hover {
        color: #fff;
        background: #c6463d;
    }
}

.cd-form input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: #df4f71;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
/* -------------------------------- 

Shadow layer 

-------------------------------- */

.cd-overlay {
    /* shadow layer visible when navigation is open */
    
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(15, 34, 43, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.6s 0.2s, visibility 0s 0.8s;
    -moz-transition: opacity 0.6s 0.2s, visibility 0s 0.8s;
    transition: opacity 0.6s 0.2s, visibility 0s 0.8s;
}

.cd-overlay.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.8s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.8s 0s, visibility 0s 0s;
    transition: opacity 0.8s 0s, visibility 0s 0s;
}

div#google-container {
    width: 100%;
    height: 400px;
    margin-top: 60px;
}

#contact {
    background: #fff;
    width: 90%;
    margin: 0px auto 10px;
    border-radius: 6px;
    padding-bottom: 30px;
}

fieldset {
    border: medium none !important;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 40px;
    margin: 0px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 2px solid #C4C7C8;
    background: #FFF;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0px 20px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border-radius: 4px;
    color: #595F6F;
}

.progress-button .progress {
    background: #7867AB;
}

a.progress-button {
    max-width: 400px;
    margin: 10px auto;
}

.modul {
    .progress-button {
        width: 90%;
        margin: auto;
    }
}

.progress-button {
    position: relative;
    display: block;
    cursor: pointer;
    width: 100%;
    border: 0px;
    background: #c6463d;
    border: 2px solid #c6463d;
    color: #FFF;
    margin: 0 0 5px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    border-radius: 4px;
    text-transform: uppercase;
    transition: all 0.5s linear;
    font-size: 20px;
    outline: none;
    &:hover {
        background: transparent;
        color: #c6463d;
    }
}

.progress-button[data-horizontal] .progress-inner {
    top: 0;
    width: 0;
    height: 100%;
    -webkit-transition: width 0.3s, opacity 0.3s;
    transition: width 0.3s, opacity 0.3s;
}

.progress-button .progress-inner {
    position: absolute;
    left: 0;
    background: #11617b;
    border-radius: 4px;
    background: #7867AB;
}

.col-6 {
    width: 50%;
    float: left;
}

ul.social-icons {
    margin: 0;
    li {
        display: inline-block;
        a {
            width: 40px;
            height: 40px;
            line-height: 40px;
            display: block;
            background: #c6463d;
            border: 3px solid #c6463d;
            border-radius: 3px;
            transition: all 1s linear;
            margin: 0px 10px;
            i {
                color: #fff;
                font-size: 30px;
            }
            &:hover {
                border: 3px solid #c6463d;
                background: transparent;
                i {
                    color: #c6463d;
                }
            }
        }
    }
}

.contact {
    p {
        text-align: left;
        i {
            margin-right: 20px;
            font-size: 20px;
        }
    }
}

.cd-slider {
    padding-top: 10vh;
    height: 100%;
    overflow-y: auto;
}

.cd-projects-wrapper {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    transition: visibility 0s 0.5s;
}

.cd-projects-wrapper.projects-visible {
    visibility: visible;
    transition: visibility 0s 0s;
}

.cd-slider li {
    opacity: 0;
}

.cd-slider li.slides-in {
    opacity: 1;
    animation: cd-translate 0.5s;
}

.cd-slider li.slides-in {
    -webkit-transition: opacity 0s 0s;
    -moz-transition: opacity 0s 0s;
    transition: opacity 0s 0s;
    opacity: 1;
    -webkit-animation: cd-translate 0.5s;
    -moz-animation: cd-translate 0.5s;
    animation: cd-translate 0.5s;
}

.cd-slider li {
    margin: 4%;
    opacity: 0;
    border-radius: .25em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transition: opacity 0s 0.5s;
    -moz-transition: opacity 0s 0.5s;
    transition: opacity 0s 0.5s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cd-slider img {
    display: block;
    border-radius: .25em .25em 0 0;
    width: 100%;
}

.cd-slider a {
    display: block;
    height: 100%;
    width: 100%;
}

@keyframes cd-translate {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (min-width: 900px) {
    .cd-slider li {
        position: relative;
        float: left;
        width: 26%;
        top: 50%;
        transform: translateX(400%) translateY(-50%) rotate(-10deg);
        transition: opacity 0s 0.3s, transform 0s 0.3s;
    }
    .cd-slider li.slides-in {
        /* reset style */
        
        animation: none;
        transform: translateY(-50%);
    }
}

@keyframes cd-slide-n {
    0%, 100% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(-50%) translateX(translateValue);
    }
}

.header-section {
    height: 100vh;
    margin-top: 0 !important;
    position: relative;
    box-sizing: border-box;
    .header-images {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .bounceInLeft {
            position: absolute;
            bottom: -30px;
            left: 15%;
        }
        .bounceInRight {
            position: absolute;
            bottom: -30px;
            right: 0;
        }
    }
}

.main-info {
    p {
        font-size: 25px;
        max-width: 1200px;
        margin: 0 auto;
        line-height: 1.5;
    }
    h2 {
        margin-bottom: 50px;
    }
}

#description-box {
    background: #e9e9e9;
    margin-top: 60px!important;
    padding: 60px 0px;
    color: #37474f;
    p {
        font-size: 24px;
    }
}

.variable-width {
    .slick-slide {
        margin: 0px 10px;
        &.w-item {
            position: relative;
            display: block;
            .item-description {
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.67);
                padding: 20px 0px;
                font-size: 25px;
                color: #fff;
            }
            .overlay-detail {
                position: absolute;
                top: 50%;
                left: 0px;
                right: 0px;
                background: rgba(255, 255, 255, 0.9);
                opacity: 0;
                transition: all 0.5s linear;
                box-shadow: 0 2px 8px rgba(2,4,5,0.5);
                transform: translateY(-50%);
                padding: 20px;
                &:hover{
                    opacity: 1;
                }
                h2 {
                    margin: 10px 0 10px;
                    font-size: 30px;
                }
                h3 {
                    color: #37474f
                }
                p {
                    color: #37474f;
                }
                a {
                    color: #37474f;
                    font-size: 16px;
                    &:hover {
                        color: darken(#37474f, 20%);
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.contact-info {
    margin-left: 10%;
    p {
        font-size: 24px;
        line-height: 1.5;
        i {
            font-size: 30px;
        }
    }
}

.copyright {
    margin: 30px auto;
}

.form {
    p {
        font-size: 25px;
        line-height: 1.5;
        max-width: 500px;
        margin: 0px auto 50px;
    }
}

.form-group {
    //    margin-bottom: 15px;
    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 30px;
        padding-left: 5%;
    }
}

.form-control {
    display: block;
    width: 90%;
    height: 45px;
    margin: 0px auto 15px;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.checkbox {
    position: relative;
}

.checkbox input {
    position: relative;
    width: 27px;
    height: 28px;
    display: block;
    border: 0;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
}

.checkbox input:before,
.checkbox .checkbox-icon:before {
    border-color: #ddd;
}

.checkbox input:before {
    display: table;
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 28px;
    background: #fff;
    content: ' ';
    -webkit-transition: background-color 20ms ease-in-out;
    transition: background-color 20ms ease-in-out;
}

.checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
    background: #387ef5;
    border-color: #387ef5;
}

.checkbox input:after {
    -webkit-transition: opacity 0.05s ease-in-out;
    transition: opacity 0.05s ease-in-out;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 33%;
    left: 25%;
    display: table;
    width: 14px;
    height: 6px;
    border: 1px solid #fff;
    border-top: 0;
    border-right: 0;
    content: ' ';
    opacity: 0;
}

.checkbox input:checked:after,
input:checked + .checkbox-icon:after {
    opacity: 1;
}

.item {
    color: #fff;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 13px 0;
    font-size: 22px;
    width: 90%;
    margin: auto;
}

.item-checkbox {
    padding-left: 60px;
}

.item-checkbox .checkbox {
    position: absolute;
    top: 50%;
    right: 8px;
    left: 8px;
    z-index: 3;
    margin-top: -21px;
}

.checkbox {
    position: relative;
    display: inline-block;
    padding: 7px 7px;
    cursor: pointer;
}

.item-input textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 415px;
    font-size: 25px;
    padding: 20px;
}

.modul {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1000;
    display: block;
    background: rgba(28, 38, 42, 0.9);
    background-attachment: fixed;
    transition: top 0.7s linear;
    overflow-x: hidden;
    overflow-y: auto;
    &.active {
        opacity: 1;
        z-index: 1000;
    }
    h2 {
        font-size: 30px;
        margin: 30px 0;
    }
}

.modul-body {
    position: relative;
    overflow-y: scroll;
    padding: 50px 0;
}

.close-btn {
    position: absolute;
    right: 80px;
    top: 40px;
    cursor: pointer;
    z-index: 10000;
    i {
        font-size: 70px;
    }
}

.og-grid {
    list-style: none;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.og-grid li {
    display: inline-block;
    margin: 10px 5px 0 5px;
    vertical-align: top;
    height: 250px;
}

.og-grid li > a,
.og-grid li > a img {
    border: none;
    outline: none;
    display: block;
    position: relative;
}

.og-grid li.og-expanded > a::after {
    top: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #ddd;
    border-width: 15px;
    left: 50%;
    margin: -20px 0 0 -15px;
}

.og-expander {
    position: absolute;
    background: #ddd;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    height: 0;
    overflow: hidden;
}

.og-expander-inner {
    padding: 50px 30px;
    height: 100%;
}

.og-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.og-close::before,
.og-close::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #888;
    transform: rotate(45deg);
}

.og-close::after {
    transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
    background: #333;
}

.og-fullimg,
.og-details {
    width: 50%;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.og-details {
    padding: 0 40px 0 20px;
}

.og-fullimg {
    text-align: center;
}

.og-fullimg img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
}

.og-details h3 {
    font-weight: 300;
    font-size: 52px;
    padding: 40px 0 10px;
    margin-bottom: 10px;
}

.og-details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999;
}

.og-details a {
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 3px solid #333;
    display: inline-block;
    margin: 30px 0 0;
    outline: none;
}

.og-details a::before {
    content: '\2192';
    display: inline-block;
    margin-right: 10px;
}

.og-details a:hover {
    border-color: #999;
    color: #999;
}

.og-loading {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ddd;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    animation: loader 0.5s infinite ease-in-out both;
}

@keyframes loader {
    0% {
        background: #ddd;
    }
    33% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
    }
    66% {
        background: #ccc;
        box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
    }
}

@media screen and (max-width: 830px) {
    .og-expander h3 {
        font-size: 32px;
    }
    .og-expander p {
        font-size: 13px;
    }
    .og-expander a {
        font-size: 12px;
    }
}

@media screen and (max-width: 650px) {
    .og-fullimg {
        display: none;
    }
    .og-details {
        float: none;
        width: 100%;
    }
}

.s-item {
    position: relative;
    padding: 10px!important;
    .item-overalay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(23, 27, 29, 0.9);
        padding: 40px;
        color: #fff;
        font-weight: 300;
        opacity: 0;
        transition: all 0.5s linear;
        &:hover {
            opacity: 1;
        }
        p {
            font-size: 18px;
            line-height: 1.33;
        }
        h3 {
            font-size: 25px;
            margin-bottom: 25px;
            color: #c6463d;
        }
    }
}

.slick-arrow {
    border: 0;
    background: transparent;
    position: absolute;
    top: 50%;
    outline: none;
    z-index: 100;
    margin-top: -59px;
    color: #6c6c6c;
    i {
        font-size: 100px;
    }
    &.slick-next {
        right: 10px;
    }
    &.slick-prev {
        left: 10px;
    }
}

.slider-nav {
    max-width: 900px;
    margin: auto;
    .slick-slide {
        margin: 0px 10px;
    }
    .slick-arrow {
        margin-top: -30px;
        i {
            font-size: 50px;
        }
    }
    .slick-next {
        right: -50px;
    }
    .slick-prev {
        left: -50px;
    }
}

.slider-for {
    margin-bottom: 20px;
    .slick-slide {
        text-align: center;
        img {
            margin: auto;
        }
    }
}

.internal {
    h2 {
        margin: 50px auto;
    }
}

.back {
    position: absolute;
    top: 30px;
    left: 80px;
    font-size: 50px;
}

#cd-zoom-in {
    height: 30px;
    width: 30px;
    background: red;
}

#cd-google-map {
    height: 350px;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 5px 11px 5px 13px;
    text-overflow: ellipsis;
    width: 300px;
    margin-top: 10px;
}

#pac-input:focus {
    border-color: #4d90fe;
}