@media (max-width: 480px) {
  footer {
    height: 36vh;
    margin: 0;
    line-height: 36vh;
    background: #fe5722; }
    footer .infobox {
      margin-top: 0;
      padding: 0;
      background: transparent;
      display: inline-block;
      vertical-align: middle;
      line-height: 50px; }
      footer .infobox span {
        font-size: 25px;
        display: block;
        width: 100%; }
      footer .infobox i {
        display: none; }
    footer .container {
      display: none; }

  .page-content {
    display: none; }

  .overlay {
    display: none; }

  header {
    height: 64vh;
    background-size: cover;
    background: url(../img/mobile_background.jpg);
    background-position: bottom;
    padding-top: 0;
    line-height: 64vh; }
    header .logo {
      font-size: 15px;
      line-height: 30px;
      height: 30px;
      width: 60px;
      border: 2px solid #fff;
      margin-top: -30px; }
    header .middle {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.2; }
    header h1 {
      font-size: 45px;
      line-height: 65px;
      margin: 25px auto 20px; }
    header h3 {
      font-size: 16px;
      width: 66%;
      margin: 0px auto;
      line-height: 22px; } }
@media (max-width: 330px) {
  header h3 {
    width: 80%; }

  header h1 {
    margin: 27px auto 20px;
    line-height: 40px; } }
@media (max-width: 700px) and (orientation: landscape) {
  header {
    height: 100vh;
    line-height: 100vh; } }
@media (max-width: 700px) {
  .col-5 {
    height: 226px; } }

/*# sourceMappingURL=responsive.css.map */
